<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Football Updater | Header</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.3.2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
</head>
    <body>
        <div class="container">
            <nav class="navbar navbar-light bg-light" th:fragment="header">
                <a class="navbar-brand" th:href="@{/posts}">
                    <h1>Football Updater</h1>
                </a>
            </nav>
        </div>
    </body>
</html>