<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{fragments/head.html :: head (title='Football Updater | Posts')}">
    </head>
    <body>
        <div class="container">
            <div th:replace="~{fragments/header.html :: header}"></div>
            <br>
            <h2>Latest Posts</h2>
            <br>
            <div class="d-flex flex-row justify-content-between">
                <a th:if="${param.postedStatus == null}" class="btn btn-secondary btn-sm action-button" th:href="@{/posts?postedStatus=false}">Filter not posted only</a>
                <a th:if="${facebookStatus != null AND facebookStatus.currentlyLoggedIn == false AND facebookStatus.loginUri != null}" class="btn btn-primary btn-sm action-button" th:href="${facebookStatus.loginUri}">Login to Facebook</a>
                <a th:if="${facebookStatus != null AND facebookStatus.currentlyLoggedIn == false AND facebookStatus.loginUri == null}" class="btn btn-primary btn-sm action-button disabled" th:href="${facebookStatus.loginUri}">Login to Facebook unavailable</a>
                <a th:if="${facebookStatus != null AND facebookStatus.currentlyLoggedIn == true}" class="btn btn-success btn-sm action-button disabled" th:href="${facebookStatus.loginUri}">Logged In</a>
            </div>
            <div>
                <form th:if="${ not#lists.isEmpty(form.posts)}" th:object="${postsForm}" method="post" th:action="@{/posts/save}">
                    <div class="table-responsive table-fixed-head">
                        <table
                                id="post-table"
                                class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="min-width:100px" >Date</th>
                                    <th>Player</th>
                                    <th>Caption</th>
                                    <th style="max-width:300px">Images</th>
                                    <th>Image Search</th>
                                    <th>Posted</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="post, itemStat : ${form.posts}">
                                    <td style="min-width:100px">
                                        <p th:text="${#dates.format(post.dateGenerated, 'dd-MM-yyyy hh:mm:ss')}"></p>
                                        <p th:text="${post.postType}"></p>
                                    </td>
                                    <td th:text="${post.player.name}"></td>
                                    <td th:id="'post-caption-' + ${itemStat.index}" th:text="${post.caption}"></td>
                                    <td>
                                        <ul th:each="imageUrl, imageIter : ${post.imagesUrls}">
                                            <a th:href="${imageUrl}" target="_blank" rel="noopener noreferrer"><li th:text="'Image_' + ${imageIter.index}"></li></a>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul th:each="imageSearchUrl, searchIter : ${post.imageSearchUrls}">
                                            <a th:href="${imageSearchUrl}" target="_blank" rel="noopener noreferrer"><li th:text="'Search_' + ${searchIter.index}"></li></a>
                                        </ul>
                                    </td>
                                    <td>
                                        <input hidden th:name="|posts[${itemStat.index}].id|" th:value="${post.getId()}"/>
                                        <input type="checkbox" th:checked="${post.isPostedStatus()}" th:name="|posts[${itemStat.index}].postedStatus|" />
                                    </td>
                                    <td>
                                        <a class="btn btn-primary action-button full-width-button" th:href="@{/posts/prepare-standout-image?postId={id}(id=${post.id})}">Custom image</a>
                                        <a th:if="${facebookStatus != null AND facebookStatus.currentlyLoggedIn == true}" class="btn btn-primary action-button full-width-button" th:href="@{/posts/prepare-upload?postId={id}(id=${post.id})}">Upload post</a>
                                        <a th:if="${facebookStatus != null AND facebookStatus.currentlyLoggedIn == false}" class="btn btn-primary action-button full-width-button disabled" th:href="@{/posts/prepare-upload?postId={id}(id=${post.id})}">Upload post</a>
                                        <a class="btn btn-secondary action-button full-width-button" th:onclick="'copyCaptionToClipboard(' + ${itemStat.index} + ')'" onclick="">Copy caption</a>
                                        <a type="button" class="btn btn-danger full-width-button" data-toggle="modal" th:data-target="'#delete-confirm-modal-' + ${post.id}">Delete</a>

                                        <div th:id="'delete-confirm-modal-' + ${post.id}" class="modal" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Are you sure you want to delete post?</h5>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="btn btn-danger" th:href="@{/posts/delete?postId={id}(id=${post.id})}">Delete</a>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-primary action-button" type="submit">Save Changes</button>
                </form>
                <div th:if="${ #lists.isEmpty(form.posts)}">
                    <p>No posts available</p>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            function copyCaptionToClipboard(index) {
                var copyText = document.getElementById("post-caption-" + index);
                navigator.clipboard.writeText(copyText.innerText);
                alert("Copied caption: " + copyText.innerText);
            }
        </script>
    </body>
</html>
