<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Football Updater | Prepare Post</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
    <body>
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/posts}">
                    <h1>Football Updater</h1>
                </a>
            </nav>
            <div class="container">
                <form th:if="${ not#lists.isEmpty(form.allStats)}" th:object="${preparePostForm}" method="post" th:action="@{/posts/generate}">
                <div class="alert alert-danger" role="alert" th:if="${ not#strings.isEmpty(form.error)}" th:text="${form.error}">
                </div>
                <br>
                <h2>Prepare Post</h2>
                <br>
                    <input hidden th:field="${form.postId}" th:value="${form.post.id}"/>
                    <h4>Image search links: </h4>
                    <ul th:each="imageSearchUrl, searchIter : ${form.post.imageSearchUrls}">
                        <a th:href="${imageSearchUrl}" target="_blank" rel="noopener noreferrer"><li th:text="'Search_' + ${searchIter.index}"></li></a>
                    </ul>
                    <div class="col-xs-4 text-input-container">
                        <label for="backgroundImageUrl">Background Image (leave blank for default): </label>
                        <input id="backgroundImageUrl" type="text" name="backgroundImageUrl" size="100">
                    </div>
                    <div>
                        <label for="forceScaleImage">Select to scale image regardless of original size</label>
                        <input id="forceScaleImage" type="checkbox" th:field="${form.forceScaleImage}" th:checked="${forceScaleImage}"/>
                    </div>
                    <div class="table-responsive table-fixed-head-stats">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="min-width:100px" >Stat type</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="statistic, itemStat : ${form.allStats}">
                                    <td>
                                        <input hidden th:field="*{allStats[__${itemStat.index}__].name}" th:value="${statistic.name}"/>
                                        <input hidden th:field="*{allStats[__${itemStat.index}__].value}" th:value="${statistic.value}"/>
                                        <input type="checkbox" th:field="*{allStats[__${itemStat.index}__].selected}" />
                                    </td>
                                    <td th:text="${statistic.name}"></td>
                                    <td th:text="${statistic.value}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-primary" type="submit">Generate Post</button>
                </form>
                <div th:if="${ #lists.isEmpty(form.allStats)}">
                    <p>No stats available to select for this post</p>
                </div>
            </div>
        </div>
    </body>
</html>
