<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{fragments/head.html :: head (title='Football Updater | Prepare Post')}">
    </head>
    <body>
        <div class="container">
            <div th:replace="~{fragments/header.html :: header}"></div>
            <div>
                <form th:if="${ not#lists.isEmpty(form.allStats)}" th:object="${prepareStandoutImageForm}" method="post" th:action="@{/posts/generate}">
                    <br>
                    <h2>Prepare Post</h2>
                    <h4 th:if="${post.player != null}" th:text="${form.post.player.name}"></h4>
                    <h4 th:if="${post.player == null}">Not a player</h4>
                    <br>
                    <input hidden th:field="${form.postId}" th:value="${form.post.id}"/>
                    <div class="mb-3">
                        <h4>Image search links: </h4>
                        <ul class="list-group" th:each="imageSearchUrl, searchIter : ${form.post.imageSearchUrls}">
                            <a th:href="${imageSearchUrl}" target="_blank" rel="noopener noreferrer"><li class="list-group-item" th:text="'Search_' + ${searchIter.index}"></li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="imageUrl" class="form-label">Background Image (leave blank for default): </label>
                        <div class="input-group mb-3">
                            <input id="imageUrl" type="text" class="form-control" name="imageGenParams.imageUrl" size="100">
                        </div>
                    </div>
                    <div class="mb-3 form-check">
                        <label for="forceScaleImage">Select to force scaling short side of image to 1000 pixel</label>
                        <input id="forceScaleImage" type="checkbox" class="form-check-input" th:field="${form.imageGenParams.forceScaleImage}" th:checked="${forceScaleImage}"/>
                    </div>
                    <div class="mb-3">
                        <label for="horizontalTranslation" class="form-label">Horizontal translation (Select if image is wider than 1000 pixels) </label>
                        <div class="input-group mb-3">
                            <select id="horizontalTranslation" class="form-select" th:field="${form.imageGenParams.imageHorizontalTranslation}">
                                <option th:value="'CENTER'" th:text="Center"></option>
                                <option th:value="'LEFT'" th:text="Left"></option>
                                <option th:value="'RIGHT'" th:text="Right"></option>
                                <option th:value="'NONE'" th:text="None" selected="selected"></option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="imageHorizontalOffset" class="form-label">Horizontal offset from left side only (leave blank for 0): </label>
                        <div class="input-group mb-3">
                            <input id="imageHorizontalOffset" type="number" step="10" min="0" class="form-control" name="imageGenParams.imageHorizontalOffset" size="100">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="verticalTranslation" class="form-label">Vertical translation (Select if image is taller than 1000 pixels) </label>
                        <div class="input-group mb-3">
                            <select id="verticalTranslation" class="form-select" th:field="${form.imageGenParams.imageVerticalTranslation}">
                                <option th:value="'CENTER'" th:text="Center"></option>
                                <option th:value="'TOP'" th:text="Top"></option>
                                <option th:value="'BOTTOM'" th:text="Bottom"></option>
                                <option th:value="'NONE'" th:text="None" selected="selected"></option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="imageVerticalOffset" class="form-label">Vertical offset from top of image only (leave blank for 0): </label>
                        <div class="input-group mb-3">
                            <input id="imageVerticalOffset" type="number" step="10" min="0" class="form-control" name="imageGenParams.imageVerticalOffset" size="100">
                        </div>
                    </div>
                    <div class="table-responsive table-fixed-head-stats">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="min-width:100px" >Stat type</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="statistic, itemStat : ${form.allStats}">
                                    <td>
                                        <input hidden th:field="*{allStats[__${itemStat.index}__].name}" th:value="${statistic.name}"/>
                                        <input hidden th:field="*{allStats[__${itemStat.index}__].value}" th:value="${statistic.value}"/>
                                        <input type="checkbox" th:field="*{allStats[__${itemStat.index}__].selected}" />
                                    </td>
                                    <td th:text="${statistic.name}"></td>
                                    <td th:text="${statistic.value}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-primary action-button" type="submit">Generate Post</button>
                </form>
                <div th:if="${ #lists.isEmpty(form.allStats)}">
                    <p>No stats available to select for this post</p>
                </div>
            </div>
        </div>
    </body>
</html>
