<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{fragments/head.html :: head (title='Football Updater | Upload Post')}">
    </head>
    <body>
        <div class="container">
            <div th:replace="~{fragments/header.html :: header}"></div>
            <br>
            <h2>Upload Post</h2>
            <br>
            <div class="d-flex flex-row justify-content-between">
                <a th:if="${facebookStatus != null AND facebookStatus.currentlyLoggedIn == false AND facebookStatus.loginUri != null}" class="btn btn-primary btn-sm action-button" th:href="${facebookStatus.loginUri}">Login to Facebook</a>
                <a th:if="${facebookStatus != null AND facebookStatus.currentlyLoggedIn == false AND facebookStatus.loginUri == null}" class="btn btn-primary btn-sm action-button disabled" th:href="${facebookStatus.loginUri}">Login to Facebook unavailable</a>
                <a th:if="${facebookStatus != null AND facebookStatus.currentlyLoggedIn == true}" class="btn btn-success btn-sm action-button disabled" th:href="${facebookStatus.loginUri}">Logged In</a>
            </div>
            <div>
                <form th:if="${ form.post != null AND not#lists.isEmpty(form.imageUrls) }" th:object="${uploadPostForm}" method="post" th:action="@{/posts/upload}">
                    <input hidden th:field="${form.postId}" th:value="${form.post.id}"/>
                    <div class="table-responsive table-fixed-head">
                        <table
                                id="post-table"
                                class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="min-width:100px" >Number</th>
                                    <th>Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="imageEntry, itemStat : ${ form.imageUrls }">
                                    <td style="min-width:100px">
                                        <input th:field="*{imageUrls[__${itemStat.index}__].imageIndex}" type="number" class="form-control" size="100">
                                    </td>
                                    <td>
                                        <input hidden th:field="*{imageUrls[__${itemStat.index}__].url}"/>
                                        <img th:src="${imageEntry.url}" width="300px">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="caption">Caption:</label>
                            <textarea id="caption" name="caption" rows="4" th:text="${form.post.caption}" class="form-control"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary action-button" type="submit">Upload</button>
                </form>
                <div th:if="${ form.post == null OR form.imageUrls == null }">
                    <p>Cannot find post or images</p>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
